{% extends "layout.html" %}

{% block content %}
<div class="container page-content">
<div class="row">
	<div class="col-sm-12">
  Enter the URL of a Patreon campaign page to compare to similar campaigns!
    <br><br>
    <form action="{{ url_for('home') }}" method="POST">
    <div class="form-group row">
        <div class="input-group">
        <input type="text" class="form-control" id="cid" name="campaign_url" placeholder="e.g. https://www.patreon.com/CANADALAND">
        <span class="input-group-btn"/>
          <button type="submit" class="btn btn-primary"><b>Compare!</b></button>
        </span>
      </div>
    </div>
	</form>
  </div>
</div>
</div>

{% endblock %}